@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700;900&family=Rampart+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
    
html {
  font-size: 62.5%;
  right: 0;
  left: 0;
  top: 0;
}
      
body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 7rem;
}

.login h1.title {
  color: #346896;
  font-size: 4rem;
  text-shadow: rgba(0, 0, 0, .7) 0.1rem 0.1rem;
  font-family: 'Gluten', cursive;
  text-align: center;
  margin: 1rem auto;
}

.form_login h1 {
  font-size: 2.5rem;
  font-family: 'Gluten', cursive;
  text-align: center;
  color: rgba(0, 0, 0, .7);
}
  
.form_login  {
  position: relative;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  width: 100%;
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: #ffffff;
}

fieldset {
  padding: 1.2rem;
  padding-top: 0;
  margin-top: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
}

fieldset > legend {
  color: rgba(0, 0, 0, .7);
}

.form_login label {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: -5%;
  color:rgba(0, 0, 0, .7);
  font-weight: bolder;
}

i {
  position:absolute;
  color: rgba(0, 0, 0, .7);
  padding: 1rem;
  padding-top: 2.5rem;
}

.form_login input, select {
  width: 100%;
  height: auto;
  padding: 3%;
  padding-left: 10%;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  margin-top: 2rem;
  outline: none;
}

.form_login input.box:hover{
  border: 2px solid #3d7bb1;
}

.form_login .button {
  color: #ffffff;
  background-color: #346896;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  padding-left: 5%;
}

.form_login .button:hover {
  background-color: #3d7bb1;
}

.form_login .sub-text p {
  text-align: center;
  margin-top: 1rem;
}

.form_login #msg-sucesso {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 1rem;
  background-color: rgba(50, 205, 50, 0.3);
  border: none;
  color: rgb(34, 139, 34);
}

.form_login #msg-erro {

  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 1rem;
  background-color: rgba(250, 128, 114, 0.3);
  border: none;
  color: rgb(165, 42, 42);

}

.form_login #delete-acount > p > a{
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 1rem;
  color: #DC4955;
}

.form_login #delete-acount > p > a:hover{
  color: #CF231B;
}

div.ic-delete {

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  width: 35%;
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.75);

}

div.ic-delete > img {

  width: 30%;
  margin-bottom: 0;
  margin-top: 0;

}

div.ic-delete > p {

  color: rgba(0, 0, 0, .7);
  width: 100%;
  text-align: center;

}

div.ic-delete > p#delete-sad {

  margin-bottom: 1.6rem;
  font-family: 'Gluten', cursive;
}

div.ic-delete > form.form-delete-acount > p#delete-confirm {

  margin-top: 1.6rem;
  color: rgba(0, 0, 0, .7);
  text-align: center;

}

div.ic-delete > form.form-delete-acount > p > i {
  position:absolute;
  color: rgba(0, 0, 0, .7);
  margin-top: -0.3rem;
}

div.ic-delete > form.form-delete-acount > p > input#password-popup {

  width: 99%;
  height: 6%;
  padding: 3%;
  padding-left: 8%;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  outline: none;
  margin-top: 2%;
  margin-bottom: 1.4%;

}

div.ic-delete > form.form-delete-acount > p > input#password-popup:hover{
  border: 2px solid #3d7bb1;
}

div.ic-delete > form.form-delete-acount > div.buttons-delete {

  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

}

div.ic-delete > form.form-delete-acount > div.buttons-delete >.button-yes-delete, .button-no-delete{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
  margin: 1.2rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
  border: none;

}

div.ic-delete > form.form-delete-acount > div.buttons-delete > div > a {

  text-decoration: none;
  color: #fff;

}

div.ic-delete > form.form-delete-acount > div.buttons-delete > .button-yes-delete {

  color: #fff;
  background-color: #DC4955;
  margin-left: 0;

}


div.ic-delete > form.form-delete-acount > div.buttons-delete > .button-yes-delete:hover {

  background-color: #CF231B;

}

div.ic-delete > form.form-delete-acount > div.buttons-delete > .button-no-delete {

  background-color: #84BB3C;
  margin-right: 0;

}

div.ic-delete > form.form-delete-acount > div.buttons-delete > .button-no-delete:hover {

  background-color: #63B02C;

}

/*Media Queries*/

@media (max-width: 4000px) {
  i {
    margin-top: 0.5%;
  }
}

@media (max-width: 1920px) {
  i {
    margin-top: 1.5%;
  }
}

@media (max-width: 1280px) {
  i {
    margin-top: 1.6%;
  }
}

@media (max-width: 1050px) {
  
  div.ic-delete {

    width: 42%;
  
  }

}

@media (max-width: 1000px) {
  i {
    margin-top: 1.3%;
  }
}

@media (max-width: 900px) {
  
  div.ic-delete {

    width: 46%;
  
  }

}

@media (max-width: 810px) {
  
  div.ic-delete {

    width: 54%;
  
  }

}

@media (max-width: 700px) {
  
  div.ic-delete {

    width: 60%;
  
  }

}

@media (max-width: 610px) {
  
  div.ic-delete {

    width: 72%;
  
  }

}

@media (max-width: 550px) {
  .login h1.title {
    font-size: 4rem;
  }

  .form_login {
    width: 90%;
  }

  div.ic-delete {

    width: 80%;
  
  }

}

@media (max-width: 480px) {
  
  div.ic-delete {

    width: 90%;
  
  }

}

@media (max-width: 420px) {
  
  div.ic-delete {

    width: 94%;
  
  }

  div.ic-delete > form.form-delete-acount > p > i {
    margin-top: -0.5rem;
  }

  div.ic-delete > form.form-delete-acount > p > input#password-popup {

    padding-left: 10%;
  
  }

}

@media (max-width: 400px) {

  .form_login input {
    padding-left: 12%;
  }

  div.ic-delete > form.form-delete-acount > p > i {
    margin-top: -0.6rem;
  }

  div.ic-delete > form.form-delete-acount > p > input#password-popup {

    padding-left: 10%;
  
  }
  
}

@media (max-width: 350px) {
  html {
    font-size: 50%;
  }

  .login h1.title {
    font-size: 3rem;
  }

  .form_login h1 {
    font-size: 2rem;
  }

  .form_login input {
    font-size: 1.3rem;
  }

  .form_login .sub-text p {
    font-size: 1.2rem;
  }

}

@media (max-width: 290px) {

  .login h1.title {
    font-size: 2rem;
  }

  .form_login h1 {
    font-size: 1.5rem;
  }

  .form_login input {
    font-size: 1rem;
  }

  .form_login .sub-text p {
    font-size: 0.9rem;
  }
 
}