.login #msg-sucesso {
    width: 70%;
    text-align: center;
    padding: 1%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: rgba(50, 205, 50, 0.3);
    border: none;
    color: rgb(34, 139, 34);
  }
  
.login #msg-erro {
  
    width: 70%;
    text-align: center;
    padding: 1%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: rgba(250, 128, 114, 0.3);
    border: none;
    color: rgb(165, 42, 42);
  
}

.login .container-table {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 12rem;
    width: 100%;
    overflow-x: auto;

}

.login > h1 {

    font-size: 2.5rem;
    font-family: 'Gluten', cursive;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    padding: 1.6rem;

}

.login .container-table .table {

    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #346896;
    border-spacing: 0px;
    width: 70%;
    
}


.login .container-table .table thead.cabecalho {

    background-color: #346896;

}

.login .container-table .table tbody {

    background-color: #fff;
    color: rgba(0, 0, 0, .7);
}

.login .container-table .table tbody:hover {

    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .7);

}

.login .container-table .table th {
    
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1.6rem;
    text-align: center;

}

i.del-user {
    padding-top: 2.3rem;
}

button#del-user {

    border: none;
 
}

button#del-user a {

    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #DC4955;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;

}

button#del-user a:hover {

    background-color: #CF231B;

}

@media (max-width: 500px) {

    .login .container-table {

        display: block;
    
    }

    .login .container-table .table{

        margin: 0 auto;
    
    }

}
  